.table {
    line-height   : 14px;
    display       : flex;
    flex-direction: column;
    box-sizing    : border-box;
    top           : 50%;
    background    : #FFFFFF;
    box-shadow    : 0 3px 12px 0 rgb(0 0 0 / 20%);
    border-radius : 10px;
    width         : 300px;
    height        : auto;
    padding       : 18px;
    position      : fixed;
    left          : 50%;
    transform     : translateX(-50%) translateY(-50%);
    z-index       : 11124;
}

.title {
    line-height  : 22px;
    margin-left  : 2px;
    margin-bottom: 10px;
    font-size    : 14px;
}

.text {
    margin-bottom: 3px;
    margin-left  : 2px;
}

.act {
    line-height    : 154%;
    align-items    : center;
    border-radius  : 4px;
    box-sizing     : border-box;
    cursor         : pointer;
    display        : inline-flex;
    flex-shrink    : 0;
    font-weight    : 500;
    min-width      : 5.14em;
    outline-width  : 0;
    overflow       : hidden;
    padding        : 8px 16px;
    position       : relative;
    user-select    : none;
    border         : none;
    color          : #fff;
    justify-content: space-around;
}