.button{
    line-height: 154%;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-weight: 500;
    height: 32px;
    justify-content: center;
    min-width: 5.14em;
    outline-width: 0;
    overflow: hidden;
    padding: 8px 16px;
    position: relative;
    user-select: none;
}
.button {
    background-color: #fff;
    color: rgb(26,115,232);
    border: 1px solid rgba(0,0,0,6%);
}
.button:hover{
    background-color: rgba(26,115,232,6%);
}
.button:active{
    box-shadow: 0 0 1px 1px rgba(0,0,0,10%);
}
.button[disabled]{
    pointer-events: none;
    background-color: rgba(19, 1, 1, 0.1);
    border: 1px solid rgba(0,0,0,.1);
    color: white;
}