.commandDm-popup {
  border-radius: 1rem;
  background-color: #f5f5f5;
  position: absolute;
  cursor: default;
  opacity: 0;
  transition: opacity 0.2s;
  padding: 0.8rem 1rem;
}

.commandDm-popup.on {
  opacity: 1;
}

.vote-dialog {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.vote-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.vote-title,
.grade-title {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.vote-option {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.vote-button {
  text-align: center;
  min-width: 85px;
  display: inline-block;
  padding: 0.3rem 2rem;
  border: 1px solid #00a1d6;
  border-radius: 5px;
  margin: 0.2rem 0;
  background-color: #fff;
  cursor: pointer;
}

.vote-button:hover {
  background-color: #1baada;
  color: #f5f5f5;
  transition: all 0.15s ease-out;
}

.vote-button::before {
  position: absolute;
  padding: 0 1.8rem;
  left: 0;
  content: attr(idx);
}

.vote-progress-bg {
  border-radius: 5px;
  min-width: 85px;
  margin: 0.2rem 0;
  border: 1px solid #1a1a1a6b;
  background-color: white;
  position: relative;
}

.vote-progress {
  transition: width 0.3s, background-color 0.2s;
  animation: opacity-animation 0.5s;
  overflow: hidden;
  display: inline-block;
  border-radius: 4px 0 0 4px;
  background-color: #d3d3d3;
  text-align: left;
  overflow: visible;
  position: relative;
}

.vote-progress-blue {
  background-color: #9fdef3;
}

.vote-progress-desc {
  display: inline-block;
  margin: 0.3rem 0.8rem;
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.vote-count {
  display: inline-block;
  position: absolute;
  right: 0.8rem;
  top: 0.3rem;
}

.vote-count::after {
  content: "票";
}

.bilibili-player-video-popup {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.bilibili-player-video-popup>* {
  pointer-events: all;
}

.link-button {
  animation: opacity-animation 0.2s;
  position: absolute;
  left: 40%;
  top: 20%;
  background-color: #f5f5f5;
  padding: 0.4rem 1rem;
  border-radius: 0.6rem;
  font-size: large;
  box-shadow: #888888c7 0px 0px 6px;
}

.link-button:hover {
  color: #00a1d6;
  cursor: pointer;
}

.link-button>* {
  vertical-align: middle;
}

.link-button>img {
  transform: scale(0.7) translateY(-1px);
}

.danmaku-up-icon::before {
  content: "UP主";
  background-color: #00a1d6;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 0.1em;
  transform: translateY(-0.1em);
  display: inline-block;
  box-shadow: #888888c7 0px 0px 6px;
}

.grade-score-area>div {
  display: inline-block;
  position: relative;
  width: 41px;
  transition: width 0.3s;
}

.grade-score-area.pointer {
  cursor: pointer;
}

.grade-score-area>div:last-child {
  width: 20px;
}

.grade-score-area .score-button {
  filter: grayscale(1);
}

.grade-score-area .highlight .score-button {
  filter: none;
}

.grade-score-area .bg {
  position: absolute;
  left: 0;
  filter: blur(9px);
  visibility: hidden;
}

.grade-score-area .highlight .bg {
  visibility: visible;
}

.grade-score-info {
  position: absolute;
  right: 1rem;
  bottom: 0.6rem;
  opacity: 0;
}

@keyframes grade-score-showup {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes grade-score-hit {
  0% {
    filter: brightness(1);
  }

  30% {
    filter: brightness(1.5);
  }

  100% {
    filter: brightness(1);
  }
}