/* 修复顶栏样式 */
.im-root,.im-root .im-list-box * {
    font-size:12px;
    line-height:42px;
}
.im-root .im-list-box {
    width:100%;
}
.im-root .im-list-box .im-list {
    line-height:42px;
    height:42px;
}
.im-root .im-list-box .im-notify.im-number {
    height: 14px;
    line-height: 13px;
    border-radius: 10px;
    padding: 1px 3px;
    font-size: 12px;
    min-width: 20px;
    text-align: center;
    color: #fff;
}
.im-root .im-list-box .im-notify.im-number.im-center {
    top: 14px;
    left: 80px;
}
.im-root .im-list-box .im-notify.im-dot {
    top: 11px;
    right: -10px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}
.im-root .im-list-box .im-notify.im-dot.im-center {
    top: 16px;
    right: 20px;
}