.menuitem {
  align-items: center;
  color: #000;
  display: flex;
  font-weight: 500;
  margin-inline-end: 2px;
  margin-inline-start: 1px;
  min-height: 20px;
  padding-bottom: 10px;
  padding-inline-start: 23px;
  padding-top: 10px;
  cursor: pointer;
}
.menuitem:hover {
  background-color: rgb(0, 0, 0, 6%);
}
