.contain {
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 6%);
  display: flex;
  min-height: 24px;
  padding: 0 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: transparent !important;
}
.label {
  flex: 1;
  flex-basis: 0.000000001px;
  padding-block-end: 12px;
  padding-block-start: 12px;
}
.sub {
  color: rgb(95, 99, 104);
  font-weight: 400;
}
.switch {
  cursor: pointer;
  display: block;
  min-width: 34px;
  outline: none;
  position: relative;
  width: 34px;
}
.bar {
  background-color: rgb(189, 193, 198);
  border-radius: 8px;
  height: 12px;
  left: 3px;
  position: absolute;
  top: 2px;
  transition: background-color linear 80ms;
  width: 28px;
  z-index: 0;
}
.bar[checked] {
  background-color: rgb(26, 115, 232);
  opacity: 0.5;
}
.bar:active {
  box-shadow: 0 0 1px 1px rgba(26, 115, 232, 80%);
}
.knob {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 40%);
  display: block;
  height: 16px;
  position: relative;
  transition: transform linear 80ms, background-color linear 80ms;
  width: 16px;
  z-index: 1;
}
.knob[checked] {
  background-color: rgb(26, 115, 232);
  transform: translate3d(18px, 0, 0);
}
.knob:active {
  box-shadow: 0 0 1px 1px rgba(26, 115, 232, 80%);
}
.knob i {
  color: rgba(128, 134, 139, 15%);
  height: 40px;
  left: -12px;
  pointer-events: none;
  top: -12px;
  transition: color linear 80ms;
  width: 40px;
  border-radius: 50%;
  bottom: 0;
  display: block;
  overflow: hidden;
  position: absolute;
  right: 0;
  transform: translate3d(0, 0, 0);
}
.knob i[checked] {
  color: rgb(26, 115, 232);
}
.knob i:active {
  box-shadow: 0 0 1px 1px rgba(26, 115, 232, 80%);
}
