a,
::scroll-marker {
    text-decoration: none;
    outline: none;
    color: inherit;
}

button {
    appearance: none;
    padding: 0;
    border: 0;
    background-color: inherit;
    color: inherit;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

pre {
    font-family: inherit;
    margin-block: 0;
}

input {
    outline: none;
}

::scroll-button(*) {
    appearance: none;
    padding: 0;
    border: 0;
    background-color: inherit;
    color: inherit;
    outline: none;
    cursor: pointer;
}

:popover-open {
    border: 0;
    padding: 0;
}

selectedcontent {
    text-wrap: nowrap;
    overflow: hidden;
}