:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    user-select: text;
    font-family: Roboto, 'Segoe UI', Arial, 'Microsoft Yahei', sans-serif;
    font-size: 81.25%;
    overflow: hidden;
}

.tool {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    width: 100%;
    min-height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;
}

.tool header {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    font-weight: 500;
    font-size: 22px;
}

.tool div {
    border-radius: 50%;
    padding: 10px;
    transform: scale(0.8);
    pointer-events: visible;
    transition: opacity 0.3s ease;
}

.tool div:hover {
    background-color: rgba(0, 0, 0, 10%);
}

.content {
    align-items: flex-start;
    display: flex;
    flex: 1;
    overflow: overlay;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fff;
}

.menu::-webkit-scrollbar,
.item::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

.menu {
    flex: 1 1 0;
    flex-basis: calc(480px * 0.2);
    height: 100%;
    position: sticky;
    top: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    min-width: fit-content;
    overflow: auto;
}

.item {
    flex: 4 4 0;
    flex-basis: calc(480px * 0.8);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    overflow: auto;
}

.toast {
    height: 100%;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.item>div {
    display: none;
    margin-bottom: 60px;
}

.item>div.selected {
    display: block;
}

.menuitem {
    align-items: center;
    display: flex;
    font-weight: 500;
    margin-inline-end: 2px;
    margin-inline-start: 1px;
    min-height: 36px;
    padding-bottom: 10px;
    padding-inline-start: 23px;
    padding-top: 10px;
    cursor: pointer;
}

.menuitem:hover {
    background-color: rgb(0, 0, 0, 6%);
    border-radius: 0 36px 36px 0;
}

.menuitem>div {
    padding-inline-end: 12px;
}

.selected {
    color: rgb(51, 103, 214) !important;
}

.selected>.icon {
    fill: rgb(51, 103, 214) !important;
}

.contain1 {
    margin-bottom: 3px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    display: flex;
    flex-direction: column;
    outline: none;
    position: relative;
}

.header .title {
    color: #000;
    font-size: 108%;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin-bottom: 12px;
    outline: none;
    padding-bottom: 4px;
}

.card {
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px rgb(60 64 67 / 30%);
    flex: 1;
    color: #000;
    line-height: 154%;
    user-select: text;
    margin-inline: 12px;
    margin-bottom: 12px;
}

.contain2 {
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 6%);
    display: flex;
    min-height: 24px;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: transparent !important;
}

.value {
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
}

.value>* {
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.label {
    flex: 1;
    flex-basis: 1e-9px;
    padding-block-end: 12px;
    padding-block-start: 12px;
    padding-inline-start: 12px;
}

.switch>.label,
.button>.label,
.select>.label,
.input>.label,
.slider>.label {
    flex: 2;
}

.select>.value,
.input>.value,
.slider>.value {
    flex: 3;
}

.sub {
    color: rgb(95, 99, 104);
    font-weight: 400;
}

.icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 20px;
    justify-content: center;
    position: relative;
    width: 20px;
    box-sizing: content-box;
    background: none;
    cursor: pointer;
}