:host {
    min-width: 250px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 24px;
    font-family: Roboto, 'Segoe UI', Arial, 'Microsoft Yahei', sans-serif;
    font-size: 81.25%;
}

.meta {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    padding: 0 24px;
}

.meta header {
    font-weight: 500;
    font-size: 22px;
}

.default {
    display: flex;
    align-items: stretch;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.append {
    display: flex;
    align-items: stretch;
    gap: 8px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.append>div {
    display: flex;
    align-items: stretch;
    gap: 8px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 10%);
    margin-bottom: 15px;
}

.info {
    display: flex;
    gap: 4px;
    border: 1px solid rgba(0, 0, 0, 6%);
    flex-wrap: nowrap;
    justify-content: center;
    background-color: transparent !important;
    align-items: center;
    min-height: 24px;
    text-align: center;
    border-radius: 4px;
}

.item {
    display: flex;
    gap: 4px;
    border: 1px solid rgba(0, 0, 0, 6%);
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: transparent !important;
    align-items: center;
    min-height: 24px;
    border-radius: 4px;
}