/* 修复消息页样式 */
.container[data-v-6969394c] {
    height: calc(100vh - 42px) !important;
}

.container[data-v-1c9150a9] {
    height: calc(100vh - 42px) !important;
}

.im-root,
.im-root .im-list-box * {
    font-size: 12px;
    line-height: 42px;
}

.im-root .im-list-box {
    width: 100%;
    overflow: visible;
}

.im-root .im-list-box .im-list {
    line-height: 42px;
    height: 42px;
}

.im-root .im-list-box .im-notify.im-number {
    height: 14px;
    line-height: 13px;
    border-radius: 10px;
    padding: 1px 3px;
    font-size: 12px;
    min-width: 20px;
    text-align: center;
    color: #fff;
}

.im-root .im-list-box .im-notify.im-number.im-center {
    top: 14px;
    left: 80px;
}

.im-root .im-list-box .im-notify.im-dot {
    top: 11px;
    right: -10px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.im-root .im-list-box .im-notify.im-dot.im-center {
    top: 16px;
    right: 20px;
}