#ui-face {
    box-sizing:content-box;
    color:#fff;
    background-color:#FFF;
    border-radius:5px;
    position:fixed;
    bottom:65px;
    width:56px;
    height:40px;
    transition:right .7s;
    -moz-transition:right .7s;
    -webkit-transition:right .7s;
    -o-transition:right .7s;
    z-index:1008;
    padding:4px;
}

#ui-face i {
    background-position:-471px -982px;
    display:block;
    width:20px;
    height:20px;
    transition:.2s;
    background-image:url(//static.hdslb.com/images/base/icons.png);
    margin:auto;
}

#ui-face span {
    font-size:14px;
    display:block;
    width:50%;
    transition:.2s;
    color:#000;
    margin:auto;
}

#ui-table {
    box-sizing:content-box;
    color:#fff;
    background-color:#FFF;
    border-radius:5px;
    font-size:14px;
    position:fixed;
    bottom:30px;
    right:58px;
    width:200px;
    height:360px;
    line-height:normal;
    box-shadow:rgba(0,85,255,0.098) 0 0 20px 0;
    border:1px solid #e9eaec;
    overflow-y:scroll;
    z-index:10008;
    padding:4px;
}

.checke {
    float:right;
    position:relative;
    -webkit-appearance:none;
    width:40px;
    height:20px;
    line-height:20px;
    background:#eee;
    border-radius:10px;
    outline:none;
    border:2px solid #999;
}

.checke:before {
    position:absolute;
    left:0;
    content:'';
    width:12px;
    height:12px;
    border-radius:50%;
    background:#eee;
    box-shadow:0 0 5px #ddd;
    transition:all .2s linear;
    border:2px solid #999;
}

.checke:checked {
    background:#01a1d6;
}

.checke:checked:before {
    left:20px;
    transition:all .2s linear;
}

#ui-state {
    border-radius:5px;
    z-index:1000;
    width:auto;
    position:fixed;
    right:280px;
    color:#fff;
    background:#0008;
    font-size:12pt;
    top:50%;
    transform:translateY(-50%);
    transition:.2s ease-out .8s;
    max-width:20%;
    line-height:2;
    white-space:pre-wrap;
    pointer-events:none;
    opacity:1;
    padding:1rem;
}

.video_download {
    cursor:pointer;
    width:46px;
    height:48px;
    background-color:#f6f9fa;
    background-position:-1353px -1095px;
    background-repeat:no-repeat;
    border:1px solid #e5e9ef;
    overflow:hidden;
    border-radius:4px;
    display:inline-block;
    background-image:url(//static.hdslb.com/images/base/icons.png);
}

.video_download:hover {
    background-color:#00a1d6;
    border-color:#00a1d6;
}

.bili-header-m .head-banner {
    background-position:center 0!important;
    background-size:cover!important;
}

.bb-comment .comment-header .header-page,.comment-bilibili-fold .comment-header .header-page {
    float:right;
    line-height:36px;
}

.online a {
    color:#6d757a;
}

.popularize-module .online em {
    display:inline-block;
    height:10px;
    line-height:10px;
    vertical-align:top;
    border-left:1px solid #b8c0cc;
    margin:12px 15px 0;
}

.search-wrap .search-block .input-wrap input {
    font:400 13.3333px Arial!important;
}

#bili-old-download-table {
    position:fixed;
    z-index:3300;
    bottom:0;
    background:#f6f6f6;
    width:100%;
    text-align:center;
}

#bili-old-download-table .download-box {
    background-color:#fff;
    color:#000!important;
    border:#ccc 1px solid;
    border-radius:3px;
    display:inline-block;
    margin:3px;
}

.download-mp4 {
    color:#fff!important;
    background-color:#c0f;
    background-image:linear-gradient(toright,#c0f,#90f);
}

.download-avc {
    color:#fff!important;
    background-color:red;
    background-image:linear-gradient(toright,#f00,#c00);
}

.download-hev {
    color:#fff!important;
    background-color:#ffe42b;
    background-image:linear-gradient(toright,#ffe42b,#dfb200);
}

.download-aac {
    color:#fff!important;
    background-color:#0d0;
    background-image:linear-gradient(toright,#0d0,#0a0);
}

.download-flv {
    color:#fff!important;
    background-color:#f90;
    background-image:linear-gradient(toright,#f90,#d70);
}

.download-type {
    color:#000!important;
    display:table-cell;
    min-width:1.5em;
    text-align:center;
    vertical-align:middle;
    padding:1px 3px;
}

#bili-old-download-table a {
    display:table-cell;
    text-decoration:none;
    padding:3px;
}

.quality-tops {
    background-color:#FF0;
}

.quality-top {
    background-color:#ffe42b;
}

.quality-highs {
    background-color:#f5f;
}

.quality-high {
    background-color:#c0f;
}

.quality-1080ps {
    background-color:red;
}

.quality-1080p {
    background-color:#d00;
}

.quality-720p {
    background-color:#f90;
}

.quality-480p {
    background-color:#00d;
}

.quality-360p {
    background-color:#0d0;
}

.download-quality {
    color:#fff!important;
    text-align:center;
    padding:1px 3px;
}

.download-size {
    font-size:90%;
    margin-top:2px;
    text-align:center;
    padding:1px 3px;
}
